<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <!-- Source ROS Noetic Setup -->
    <env name="ROS_PACKAGE_PATH" value="/opt/ros/noetic/setup.bash"/>

    <!-- Bring up UR5 Robot Driver (mit oder ohne Kalibrierung) -->
    <arg name="robot_ip" default="192.168.0.100"/>
    <arg name="kinematics_config" default="$(env HOME)/my_robot_calibration.yaml"/>
    
    <group if="$(arg kinematics_config)">
        <include file="$(find ur_robot_driver)/launch/ur5_bringup.launch">
            <arg name="limited" value="true"/>
            <arg name="robot_ip" value="$(arg robot_ip)"/>
            <arg name="kinematics_config" value="$(arg kinematics_config)"/>
        </include>
    </group>
    <group unless="$(arg kinematics_config)">
        <include file="$(find ur_robot_driver)/launch/ur5_bringup.launch">
            <arg name="limited" value="true"/>
            <arg name="robot_ip" value="$(arg robot_ip)"/>
        </include>
    </group>

    <!-- Start MoveIt! Planning and Execution -->
    <include file="$(find ur5_moveit_config)/launch/moveit_planning_execution.launch"/>

    <!-- Start Schledluer State Machine for MoveIt! -->
    <node pkg="schledluer" type="smach_ros_moveit.py" name="smach_ros_moveit" output="screen"/>

    <!-- Source Custom Catkin Workspace -->
    <env name="ROS_PACKAGE_PATH" value="/home/ca/catkin_ws/devel/setup.bash"/>

    <!-- Start Robotiq Gripper Control Node -->
    <node pkg="robotiq_2f_gripper_control" type="Robotiq2FGripperRtuNode.py" name="robotiq_gripper" output="screen">
        <param name="port" value="/dev/ttyUSB0"/>
    </node>

</launch>
